/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
	font-family: arial;
	background: #e6e6e6;
	color: #111111;
	font-size: 14px;
	line-height: 1.86;
}

h1 {
	font-family: Tahoma;
	font-size: 18px;
	font-weight: bold;
}

h2 {
	font-family: Tahoma;
	font-size: 18px;
	font-weight: bold;
	margin-top: 30px;
}

.side h1 {
	font-family: Tahoma;
	font-size: 24px;
	font-weight: bold;
}

.gastenboek h1 {
	color: #fcd117;
	font-family: "Brush Script Std";
	font-size: 30px;
	margin: 20px 0;
}



p {
	margin-top: 30px;
}

.topnav {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fae99b+0,fcd116+100 */
	background: #fae99b; /* Old browsers */
	background: -moz-linear-gradient(top,  #fae99b 0%, #fcd116 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fae99b 0%,#fcd116 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fae99b 0%,#fcd116 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fae99b', endColorstr='#fcd116',GradientType=0 ); /* IE6-9 */
	font-family: Tahoma;
	min-height: 68px;
}

.topnav:after {
  content: "";
  display: table;
  clear: both;
}


ul.mainnav {
	float: right;
	padding-top: 22px;
	li {
		display: inline-block;
		padding-left: 20px;
		a {
			color: #004a80;
			text-decoration: none;
		}
	}
}

.icon {
	display: none;
}

ul.languages {
	padding-top: 22px;
	float: left;
	li {
		padding-right: 8px;
		display: inline-block;
	}
}

.mainheader {
	background-image: url(../img/header.jpg);
	background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	.gradient {
		padding: 60px 0 320px 0;
		background: -moz-linear-gradient(top,  rgba(230,230,230,0) 0%, rgba(230,230,230,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(230,230,230,0) 0%,rgba(230,230,230,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(230,230,230,0) 0%,rgba(230,230,230,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e6e6e6', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	}
}

.content {
	background: #e6e6e6;
	padding: 45px 60px;
	ul {
		li {
			padding: 5px;
			&:before {
				content: "-";
				padding-right: 20px;
			}
		}
	}
}

.topfix {
	margin-top: -100px;
}

ul.chalets {
	font-family: "Brush Script Std";
	font-size: 18px;
	a {
		color: #111111;
		display: block;
		padding: 30px 0 40px 80px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	li {
		border-bottom: 1px solid #111;
		background-image: url("../img/chalet.png");
		background-repeat: no-repeat;
		background-position: left;
		display: block;
		width: 100%;
	}
}

.gastenboek {
	img {
		max-width: 100%;
	}
}

.footer {
	background: #e6e6e6;
	text-align: center;
	font-size: 13px;
	margin: 70px 0 50px 45px;
	padding: 20px 50px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.17);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.17);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.17);
	a {
		color: #004a80;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.side {
	padding-top: 45px;
}

.boxed {
	margin-bottom: 60px;
}


/* tablet */
@media (max-width: 750px) {
	.icon {
		display: block;
		font-size: 24px;
		text-decoration: none;
		position: absolute;
		top: 2px;
		right: 0px;
		float: right;
		z-index: 9;
		padding: 10px;			
		& a {
			text-decoration: none;
			color: #004a80;
		}
	}
	ul.mainnav li {
		display: none;
	}
	ul.mainnav li.icon {
		float: right;
		display: inline-block;
		margin-top: -6px;
		margin-right: 15px;
	}
	ul.mainnav.responsive {
		position: absolute;
		right: 0;
		top: 69px;
		background: #004a80;
		z-index: 2;
		a {
			color: white;
			&:hover {
				color: #fcd21c;
			}
		}
		li {
			float: none;
			display: inline;
			a {	
				padding: 0 50px;
				min-width: 200px;
				display: block;
				text-align: left;
			}
		}
		.icon a {
			color: white;
		}
	}

	.content {
		padding: 45px 20px 45px 0;
	}

	.footer {
		margin-left: 0;
	}

}

@media (max-width: 400px) {
	.content {
		padding: 0 0 50px 0;
	}
}

@media (min-width: 751px) {
	body {
		background-color: #004a9f;
	}

	.boxed {
		padding-right: 45px;
		background: #e6e6e6;
	}
	.mainheader {
		.gradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004a9f+0,004a9f+100&0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(0,74,159,0) 0%, rgba(0,74,159,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,74,159,0) 0%,rgba(0,74,159,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,74,159,0) 0%,rgba(0,74,159,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00004a9f', endColorstr='#004a9f',GradientType=0 ); /* IE6-9 */
		}
	}
}