// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 2;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

@import "modules/all";
@import "partials/all";


body {
	background: $white;
	font-family: 'Droid Serif', serif;
	font-size: 100%;
	line-height: $base-line-height;
}

.container {
	width: 96%;
	max-width: 1140px;
	margin: 0 auto;
}

#header {
	box-sizing: border-box;
	font-size: 16px;
	width: 100%;
	height: 100vh;
	background: $midnight;
	color: $white;
	display: table;
	border: 2vh solid $white;
	h1 {
		line-height: 1;
	}
}

@media only screen and (max-width: 767px) {
	#header {
		padding: 80px 0;
		min-height: 96vh;
	}
}

a.btnheader {
	border: 1px solid #FFF;
	color: $yellow;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 30px;
	padding: 10px 20px;
}

.valign {
	display: table-cell;
	vertical-align: middle;
}

.introfoto {
	img {
		max-width: 90%;
	}
}

h1 {
	font-size: 400%;
	font-weight: 700;
	line-height: 1.3;
	margin-top: 15px;
}

hr {
	background: $yellow;
	color: $yellow;
	border: 0;
	width: 30px;
	height: 2px;
	margin: 10px 0 40px;
}
.introtekst {
	font-family: 'Open Sans', sans-serif;
	color: $yellow;
	text-transform: uppercase;
	letter-spacing: 5px;
}
span {
	background: $yellow;
	padding: 3px;
	color: #000;
}

section {
	padding: 200px 0;
	color: $midnight;
	.introtekst {
		font-weight: 700;
	}
}

@media only screen and (max-width: 767px) {
	section {
		padding: 80px 0;
	}
}

#skillset {

}

.subMenu {
	box-sizing: border-box;
	margin: auto;
	padding: 20px 0;
	background: $yellow;
	font-size: 100%;
	z-index: 1;
	font-weight: 400;
	ul {
		text-align: right;
		li {
			display: inline;
			padding-right: 30px;
		}
	}
	a {
		color: $midtwee;
		text-decoration: none;
		&:hover {
			color: $yellow;
		}
	}
}

@media only screen and (max-width: 767px) {
	.subMenu {
		ul {
			text-align: auto;
			li {
				width: 24%;
				padding: 0;
				text-align: center;
				display: inline-block;
			}

		}
	}
}

.fxd {
	background: $midtwee;
	width: 100%;
	border-bottom: 1px solid $midnight;
	opacity: 0.9;
	a {
		color: $white;
	}
}

#work {
	background: $midnight;
	width: 96vw;
	margin: auto;
	color: $white;
	.introtekst {
		font-weight: 400;
	}
}
.portfolio {
	margin-top: 40px;
}
.portitem {
	img {
		width: 100%
	}
}

.work {
	display: inline-block;
	height: 100%;
	text-align: center;
	color: $yellow;
	position: relative;
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.work div {
	position: absolute;
	left: 0; top: 0;
	height: 100%; width: 100%;
	background: $midnight;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.2s linear;
}
.work p {
	position: absolute;
	left: 50%; 
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 0; 
	padding: 0;
	a {
		font-weight: 700;
		padding: 0 0 0 10px;
		color: $yellow;
		&:first-child {
			padding: 0 10px 0 0;
			border-right: 1px solid $orange;
		}
	}
}
.work:hover div {
	visibility: visible;
	opacity: 0.9;
} 

.skills {
	margin-top: 40px;
	font-weight: 700;
	.row {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 767px) {
	.skills {
		.col-3 {
			margin-top: 20px;
		}
		.row {
			margin: 0;
		}
	}
}

.ceevee {
	padding: 20px 0;
	background: $yellow;
}

#contact {
	background: $midnight;
	color: $white;
	.introtekst {
		font-weight: 400;
	}
	span {
		&:hover {
			background: $midtwee;

		}
		&:hover a {
			color: $yellow;
		}
	}
}

.outer {
	width: 100%;
	height: 7px;
	padding: 3px;
	background: $midnight;
}

.inner {
	height: 7px;
	background: $yellow;
}

.ten {
	width: 10%;
}
.twenty {
	width: 20%;
}
.thirty {
	width: 30%;
}
.fourty {
	width: 40%;
}
.fifty {
	width: 50%;
}
.sixty {
	width: 60%;
}
.seventy {
	width: 70%;
}
.eighty {
	width: 80%;
}
.ninety {
	width: 90%;
}
.hundred {
	width: 100%;
}

.section2, .section3, .section4, .section5 {
	position: relative;
	top: -175px;
	height: 1px;
}

@media only screen and (max-width: 767px) {
	.section2, .section3, .section4, .section5 {
		top: -60px;
	}
	h1 {
		font-size: 300%;
	}
}

a {
	text-decoration: none;
}