.turquoise{
  margin-top: 40px;
  font-family: calibri;
  background: #FFF;
  border-bottom: #999 3px solid;
  border-left: #999 1px solid;
  border-right: #999 1px solid;
  border-radius: 3px;
  text-align: center;
  color: $midnight;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px 20px;
  font-weight: 700;
  opacity: 0.5; 
  display: inline-block;
}

.turquoise:hover{
  opacity: 0.8; 
}


.cvbtn {
  text-decoration: none;
  font-family: calibri;
  background: $midnight;
  border-bottom: $orange 3px solid;
  border-left: $orange 1px solid;
  border-right: $orange 1px solid;
  border-radius: 3px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px 20px;
  font-weight: 700;
  opacity: 1; 
  display: inline-block;
}

.cvbtn:hover {
  text-decoration: none;
  font-family: calibri;
  background: $white;
  border-bottom: $orange 3px solid;
  border-left: $orange 1px solid;
  border-right: $orange 1px solid;
  border-radius: 3px;
  text-align: center;
  color: $midnight;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px 20px;
  font-weight: 700;
  opacity: 1; 
}

@media only screen and (max-width: 767px) {
  .cvbtn, .turquoise {
    display: block;
  }
}
